---
layout: default

lang: EN
otherlang: 
  lang: DE
  url: /
---

{% for edition in site.data.editions %}
  <div class="row mb-5" id="{{ edition.year }}">
    <div class="col-sm-8 site-description">
      <a href="{% if edition.url %}{{ edition.url }}{% else %}{{ site.github.url }}/en/edition{{ edition.year }}{% endif %}">
        {{ edition.name }}
      </a>
    </div>

    <div class="col-sm-4">
      <a href="{% if edition.url %}{{ edition.url }}{% else %}{{ site.github.url }}/en/edition{{ edition.year }}{% endif %}">
        <img class="img-responsive" src="{{ site.github.url }}/img/edition{{ edition.year }}.jpg" alt="">
        <div class="item-overlay">
          <div class="item-overlay-content">
            <span>Giclée Print<br>
              framed<br>
              handfolded and punched<br>
              30x40cm
              </span>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endfor %}
