---
layout: default
lang: DE
otherlang: 
  lang: EN
  url: /en/

---

<div class="items-wrap">

  {% for i in (1..site.data.stock.total) %}
    
    {% if i <= site.data.stock.sold %}
        {% assign sold = "true" %}
      {% else %}
        {% assign sold = "false" %}
    {% endif %}

  <div class="item-wrap">
    
    {% unless sold == "true" %}
      <a href="edition">
    {% endunless %} 

    <img class="img-responsive" src="{{ site.github.url }}/img/edition.jpg" alt="">
  
    <div class="item-overlay">
      <div class="item-overlay-content">
        <span class="item-sold">Erledigt</span>
        <span>Giclée-Druck<br>
        gerahmt<br>
        handgefaltet und handgelocht<br>
        20x30cm
        </span>
      {% endif %}
      </div>
    </div>

    {% unless sold == "true" %}
      </a>
    {% endunless %}

  </div>  
  {% endfor %}

</div>
