<footer class="site-footer">
  
  {% unless page.hidefooter == true %} 

  <div class="container">
    <div class="row">
      <div class="col-xs-12 site-footer">
  
        {% if page.lang == "DE" %}
          <a class="blackout" href="{{ site.github.url }}/legal">Impressum</a>
        {% else %}
          <a class="blackout" href="{{ site.github.url }}/en/legal">Legal</a>
        {% endif%}
      </div>
    </div>
  </div>

  {% endunless %}

</footer>

<script src="{{ site.github.url }}/js/vendor/zepto.min.js"></script>
<script src="{{ site.github.url }}/js/vendor/jquery.sweet-scroll.min.js"></script>
<script src="{{ site.github.url }}/js/main.js"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.000000.limited"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//traffic.okfn.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '26']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//traffic.okfn.de/piwik.php?idsite=26" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
