{% if page.lang == "DE" %}
  {% assign homeurl = site.baseurl %}
{% else %}
  {% assign homeurl = site.baseurl | append: "/en" %}
{% endif%}

<header class="site-header">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 site-language-selector">
        <a class="blackout" href="{{ site.github.url }}{{ page.otherlang.url }}">{{ page.otherlang.lang }}</a>
      </div>  
    </div>

    <div class="row">
    <a class="" href="{{ site.github.url }}{{ homeurl }}/">
      <div class="col-sm-4 col-sm-push-8 site-title">
        {{ site.title }}
      </div>
      <div class="col-sm-8 col-sm-pull-4 site-description">
        <span class="blackout">
        {% if page.lang == "DE" %}
          FragDenStaat 2016 <br>
          limitierte Volkswagen-Edition<br>
          50 Exemplare
        {% else %}
          FragDenStaat 2016 <br>
          limited Volkswagen Edition<br>
          50 Editions
        {% endif%}
        </span>
      </div>
    </a>
    </div>

  </div>

</header>
