.blackout {
        
    color: black;
    background: black;

    &:hover {
        color: black;
        background: transparent;
    }
}

.site-title {
    text-align: right;
}

.items-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.item-wrap {
  width: 18%;
  margin-right: 2%;
  margin-bottom: 20px;

  &:nth-child(5n+0) {
    margin-right: 0;
  }
}