
.blackout {
        
    color: black;
    background: black;

    &:hover,
    &:visited,
    &:focus {
        color: black;
        background: transparent;
    }
}

.blackout17 {
  display: block;
  line-height: 1.4;

  span {
    color: black;
    background: black;
  }

    &:hover,
    &:visited,
    &:focus {
      span {
        color: black;
        background: transparent;
      }
    }

}



.site-title {
    text-align: right;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.site-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}
