---
import fragdenstaat from "../assets/fragdenstaat.svg";
---

<footer
  class="flex items-center bg-stone-50 px-8 py-4 text-stone-700 max-md:flex-col md:items-end"
>
  <h2 class="sr-only">Ein Projekt von FragDenStaat</h2>

  <nav class="w-full">
    <ul
      class="flex flex-col flex-wrap items-center gap-x-6 gap-y-2 text-sm max-md:mt-4 md:flex-row md:items-end"
    >
      <li>
        <a href="https://fragdenstaat.de/?pk_campaign=000000" target="_blank">
          <img
            src={fragdenstaat.src}
            alt="FragDenStaat"
            class="ms-2 inline h-6"
          />
        </a>
      </li>
      <li class="max-md:mt-4 md:ms-auto">
        <a class="hover:underline" href="/" data-astro-prefetch> Start </a>
      </li>
      <li>
        <a
          class="hover:underline"
          href="https://fragdenstaat.de/spenden/?pk_campaign=000000"
        >
          Spenden
        </a>
      </li>
      <li>
        <a class="hover:underline" href="/impressum/"> Impressum </a>
      </li>
      <li>
        <a class="hover:underline" href="/datenschutz/"> Datenschutz </a>
      </li>
    </ul>
  </nav>
</footer>
