---
layout: default
---

 <div class="row">
  <div class="col-sm-6">
      <img src="{{ site.github.url }}/img/{{ page.image }}" alt="" />
      <div class="image-caption">
        {{ page.caption }}
      </div>
    </div>
    <div class="col-sm-6">
      <p>{{ content }}</p>
      

      <p>
        Willst du uns bei unserem Einsatz für Informationsfreiheit unterstützen? Dann werde jetzt Fördermitglied von <a href="https://fragdenstaat.de">FragDenStaat</a>! Ab einer jährlichen Spende von 250 Euro erhalten Fördermitglieder als Dank ein exklusives Exemplar der Kunstedition - entweder als Selbstabholung oder per Versand.
      </p>

      {% include form.html %}
    </div>
  </div>
</div>
