---
layout: default
---

 <div class="row">
  <div class="col-sm-6">
      <img src="{{ site.github.url }}/img/{{ page.image }}" alt="" />
      <div class="image-caption">
        {{ page.caption }}
      </div>
    </div>
    <div class="col-sm-6">
      <p>{{ content }}</p>
      

      <p>Willst du uns bei unserem Einsatz für Informationsfreiheit unterstützen? Dann werde jetzt Fördermitglied von <a href="https://fragdenstaat.de/">FragDenStaat</a>! Fördermitglieder erhalten als Dank ein exklusives Exemplar der Kunstedition - entweder als Selbstabholung oder per Versand.</p>

      {% include form.html %}

      <p>Die Laufzeit einer Fördermitgliedschaft beträgt ein Jahr. Sie kostet einmalig 250 Euro.</p>

      <p>
        Für die Spende gibt es eine Spendenbescheinigung. Das Geld kommt dem Projekt <a href="https://fragdenstaat.de/">FragDenStaat</a> zugute und finanziert die Weiterentwicklung der Plattform sowie
        Gerichtsprozesse für Informationsfreiheit.
      </p>
    </div>
  </div>
</div>
