---
import { Icon } from "astro-icon/components";
import Footer from "../components/footer.astro";
import Layout from "./layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="mb-8 flex justify-center">
    <div class="max-w-[80ch] px-4 md:px-8">
      <div class="mb-8 py-8">
        <a href="/" class="text-purple-700">
          <Icon
            name="tabler:arrow-narrow-left"
            class="inline-block"
            aria-hidden="true"
          />
          Zur Startseite
        </a>
      </div>
      <div class="prose">
        <slot />
      </div>
    </div>
  </main>

  <Footer />
</Layout>
