---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import favicon from "../assets/favicon.svg";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href={favicon.src} type="image/svg+xml" />
    <ClientRouter />
    <slot name="head" />
    <meta
      name="description"
      content="#000000 ist die limitierte Kunstedition zur Informationsfreiheit von FragDenStaat.
"
    />
  </head>
  <body class="bg-stone-200">
    <slot />

    <script is:inline>
      var _paq = (window._paq = window._paq || []);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["disableCookies"]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "https://traffic.okfn.de/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "26"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <noscript>
      <img
        referrerpolicy="no-referrer-when-downgrade"
        src="https://traffic.okfn.de/matomo.php?idsite=26&rec=1"
        style="border:0;"
        alt=""
      />
    </noscript>
  </body>
</html>
